
  <tbody>
    <tr>
      <th><%= friend.first_name %></th>
      <td><%= friend.last_name %></td>
      <td><%= friend.email %></td>
      <td><%= friend.phone %></td>
      <td><%= friend.twitter %></td>
      <td><%= link_to "View #{friend.first_name}", friend %></td>
    </tr>
  </tbody>

