<table class="table table-dark table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Twitter</th>
      <th scope="col">Delete Entry</th>
      <th scope="col">View Friend</th>
    </tr>
  </thead>
  <% @friends.each do |friend| %>
  <tbody>
    <tr>
      <th><%= friend.first_name %></th>
      <td><%= friend.last_name %></td>
      <td><%= friend.email %></td>
      <td><%= friend.phone %></td>
      <td><%= friend.twitter %></td>
      <td>  <%= link_to "Destroy", friend, method: :delete %></td>
      <td><%= link_to "View #{friend.first_name}", friend %></td>
    </tr>
  </tbody>
  <% end %>
</table>


<%= link_to "New friend", new_friend_path, class: "btn btn-dark" %>
