<p style="color: green"><%= notice %></p>
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Title</th>
       <th scope="col">Data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="col">Name</td>
       <td scope="col"><%= "#{@friend.first_name} #{@friend.last_name}" %></td>
    </tr>
    <tr>
      <td scope="col">Email</td>
       <td scope="col"><%= @friend.email %></td>
    </tr>
    <tr>
      <td scope="col">Phone No.</td>
       <td scope="col"><%= @friend.phone %></td>
    </tr>
    <tr>
      <td scope="col">Twitter</td>
       <td scope="col"><%= @friend.twitter %></td>
    </tr>

  </tbody>
</table>
<div>
  <%= link_to "Edit this friend", edit_friend_path(@friend) %> |
  <%= link_to "Back to friends", friends_path %>

  <%= button_to "Destroy this friend", @friend, method: :delete, class: "btn btn-danger" %>
</div>
