<p style="color: green"><%= notice %></p>
<div class="jumbotron bg-secondary-subtle p-4">
  <h1 class="display-4">
    <%= "#{@friend.first_name} #{@friend.last_name}" %>
  </h1>
  <p class="lead"><%= @friend.email %> | <%= @friend.phone %> | <%= @friend.twitter %></p>
  <br />
  <div>
  <%= link_to "Back", friends_path, class: "btn btn-dark" %>
  <%= link_to "Edit", edit_friend_path(@friend), class: "btn btn-dark ms-2" %>
  <%= link_to "Delete", @friend, method: :delete, class: "btn btn-danger ms-2" %>
</div>
</div>


